#Eclipse project files
.project
.classpath
.settings

#IntelliJ IDEA project files and directories
*.iml
*.ipr
*.iws

#Geany project file
.geany

#KDevelop project file and directory
.kdev4/
*.kdev4

#Build targets
/target
*/target
/build

#Report directories
/reports
*/reports

#Mac-specific directory that no other operating system needs.
.DS_Store
.idea/
target
.logs